*{
    background-color: rgb(150, 150, 150);
}

h1{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.Profile{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.Profile h2{
    font-size: 43px;
}

.Profile h4{
    font-size: 25px;
}

.Profile h5{
    margin-top: -30px;
    font-size: 23px;
}

.Profile img{
    border-radius: 50%;
    border: 9px solid #000;
    height: 450px;
    margin-top: 150px;
    margin-left: -100px;
}

.PC{
    margin-top: 250px;
    margin-left: 100px;
}

@media screen and (max-width: 850px){
    .Profile{
        display: block;
        width: 100%;
    }
    .Profile img{
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .PC{
        margin: 0px;
        align-items: center;
        justify-content: center;
    }
}

.Skills{
    min-height: 100vh;
}

.Skills h2{
    font-size: 43px;
}

.DL img{
    border: 9px solid #fff;
    margin-top: 80px;
    width: 500px;
    height: 300px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

.DL{
    display: flex;
    justify-content: space-evenly;
}

.DL img:hover{
    opacity: 0.5;
}

@media screen and (max-width: 1000px){
    .DL{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.imglink{
    text-align: right;
}

.AM{
    min-height: 80vh;
    display: flex;
}

.AM h3{
    font-size: 43px;
}

.AM h5{
    font-size: 30px;
    margin-bottom: -10px;
}

.WD{
    margin-top: 100px;
    margin-left: -110px;
}

ul li{
    font-size: 20px;
}

.PGP{
    margin-top: 80px;
    margin-left: 300px;
}

@media screen and (max-width: 1000px){
    .AM{
        display: block;
        width: 100%;
    }
    .WD{
        margin: 0px;
    }
    .PGP{
        margin: 0px;
        align-items: center;
        justify-content: center;
    }
}

.Tyui{
    text-align: right;
}

footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 30px;
}
