h1{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.Profile{
    min-height: 100vh;
}

.Skills{
    min-height: 100vh;
}

.AM{
    min-height: 100vh;
}