*{
    background-color: rgb(150, 150, 150);
}

img{
    border: 9px solid #fff;
}

p{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.collection img{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding: 20px;
    width: 330px;
    margin: 0 50px 50px 0;
}

.collection img:hover{
    opacity: 0.5;
}

.C1, .C2, .C3{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 850px){
    .C1, .C2, .C3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 30px;
}