*{
    background-color: rgb(150, 150, 150);
}

img{
    border: 9px solid #fff;
}

.title{
    font-size: 25px;
}

.introduction{
    text-align: center;
    font-size: 25px;
}

.main_img{
    text-align: center;
}

.main_img img{
    width: 80vh;
}

.main h5{
    font-size: 30px;
    margin-bottom: -20px;
}

.TL{
    text-align: right;
}

footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 30px;
}